@font-face {
	font-display: fallback;
}
@import "config/fonts";

@import "config/variables";
@import "utility/mixin-base";
@import "utility/mixin-layout";
@import "utility/functions";

$primary-color: #35559f;
$primary-color-light: #9ba9ce;
$primary-color-dark: #25438a;

$secondary-color: #4D5354;// #2A3132;
$success-color: #6AB187;
$error-color: #f48468;
$link-color: #004890;

@import "material_icons";
@import "materialize";

@import "config/layout";

html {
  font-size: 100%;
  line-height: 1.4;
}

body {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	background-color: #eaeaea;
	color: rgba(0,0,0,0.87);
}

.main-header {
	> nav .nav-wrapper {
		margin: 0 30px;
	}
}

.main-content {
	margin: 8px;
	padding: 8px;
}

.main-sidebar {
	// @include clrfx();
	position: relative;
	height: 100%;
	width: 250px;
	> ul#admin-sidenav {
		top: 64px;
		background-color: rgba(0,0,0,0);
		box-shadow: none;
		padding-top: 20px;
		width: 250px;
		li {
			padding: 0 10px 0 20px;
			line-height: 1;
			> a {
				padding: 10px;
				font-size: 1rem;
				height: auto;
				line-height: 1;
				margin-bottom: 12px;
				letter-spacing: 0.01em;
			}
		}
		.adm-nav-link {
			background-color: transparent;
		  color: rgba(0, 0, 0, 0.87);
		  display: block;
		  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
			&:hover {
				background-color: #dedede;
			  border-radius: 4px;
			  color: rgba(0, 0, 0, 0.87);
			}
		}
	}
}

main.main-content {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
	flex: 1 1 100%;
	padding-bottom: 10vh;
}
